<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1><%= title %></h1>
                    <span class="subheading">Không gian chia sẻ góc nhìn của một sinh viên Hệ thống Thông tin</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <p>Xin chào! Mình là Gia Bảo, sinh viên năm 3.</p>
            <p>Đây là blog cá nhân của mình, nơi mình ghi lại những kiến thức học được trên giảng đường, trải nghiệm làm đồ án và định hướng con đường trở thành một Business Analyst chuyên nghiệp.</p>
            <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary text-uppercase" href="/list">Xem các bài viết →</a>
            </div>
        </div>
    </div>
</div>

<%- include('layouts/footer') %>