<!DOCTYPE html>
<html lang="vi">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <title>Chi tiết bài viết</title>
</head>
<body>
    <h1><%= post.title %></h1>
    <p><%= post.body %></p>
    
    <hr>
    <a href="/">Về trang chủ</a>
</body>
</html>